USE [dbRapidDevs]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_PurchaseRequisition_GetById]
    @purchase_requisition_id INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Header
    SELECT
        pr.purchase_requisition_id,
        pr.requisition_no,
        pr.remarks,
        pr.created_at,
        pr.modified_at
    FROM   dbo.purchase_requisition pr
    WHERE  pr.purchase_requisition_id = @purchase_requisition_id
      AND  pr.is_deleted = 0;

    -- Line items with product + unit info
    SELECT
        pri.purchase_requisition_item_id,
        pri.product_id,
        p.name          AS product_name,
        u.short_name    AS unit_short_name,
        pri.quantity
    FROM   dbo.purchase_requisition_item pri
    INNER JOIN dbo.product p ON p.product_id = pri.product_id
    LEFT  JOIN dbo.unit    u ON u.unit_id    = p.unit_id
    WHERE  pri.requisition_id = @purchase_requisition_id
      AND  pri.is_deleted = 0;
END
