USE [dbRapidDevs]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllProducts]    Script Date: 21-05-2026 14:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_GetAllProducts]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        p.product_id AS ProductId,
        p.name AS Name,
        p.description AS Description,
        p.selling_price AS SellingPrice,
        p.purchase_price AS PurchasePrice,
        p.stock AS Stock,
        u.short_name AS UnitShortName
    FROM dbo.product p
    LEFT JOIN dbo.unit u
        ON p.unit_id = u.unit_id
    WHERE p.is_deleted = 0
       OR p.is_deleted IS NULL;
END