USE [dbRapidDevs]
GO
/****** Object:  StoredProcedure [dbo].[usp_PurchaseRequisition_Delete]    Script Date: 21-05-2026 14:33:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_PurchaseRequisition_Delete]
    @purchase_requisition_id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    BEGIN TRY
        UPDATE dbo.purchase_requisition_item
        SET    is_deleted  = 1,
               modified_at = GETDATE()
        WHERE  requisition_id = @purchase_requisition_id
          AND  is_deleted = 0;

        UPDATE dbo.purchase_requisition
        SET    is_deleted  = 1,
               modified_at = GETDATE()
        WHERE  purchase_requisition_id = @purchase_requisition_id
          AND  is_deleted = 0;

        SELECT @@ROWCOUNT AS rows_affected;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END
