USE [dbRapidDevs]
GO
/****** Object:  StoredProcedure [dbo].[usp_PurchaseRequisition_Create]    Script Date: 21-05-2026 14:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_PurchaseRequisition_Create]
    @remarks  NVARCHAR(1000) = NULL,
    @items    dbo.udt_purchase_requisition_item READONLY
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    BEGIN TRY
        DECLARE @date_part    NVARCHAR(8)  = CONVERT(NVARCHAR(8), GETDATE(), 112);
        DECLARE @seq_prefix   NVARCHAR(20) = 'PR-' + @date_part + '-';
        DECLARE @next_seq     INT;
        DECLARE @new_id       INT;

        SELECT @next_seq = ISNULL(MAX(
            CAST(SUBSTRING(requisition_no, LEN(@seq_prefix) + 1, 10) AS INT)
        ), 0) + 1
        FROM dbo.purchase_requisition
        WHERE requisition_no LIKE @seq_prefix + '%';

        DECLARE @requisition_no NVARCHAR(50) = @seq_prefix + RIGHT('0000' + CAST(@next_seq AS NVARCHAR), 4);

        INSERT INTO dbo.purchase_requisition (requisition_no, remarks, created_at, is_deleted)
        VALUES (@requisition_no, @remarks, GETDATE(), 0);

        SET @new_id = SCOPE_IDENTITY();

        INSERT INTO dbo.purchase_requisition_item (requisition_id, product_id, quantity, created_at, is_deleted)
        SELECT @new_id, i.product_id, i.quantity, GETDATE(), 0
        FROM   @items i;

        COMMIT TRANSACTION;

        SELECT @new_id AS new_id;  -- return to Dapper
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END
