USE [dbRapidDevs]
GO
/****** Object:  StoredProcedure [dbo].[usp_PurchaseRequisition_Update]    Script Date: 21-05-2026 14:34:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[usp_PurchaseRequisition_Update]
    @purchase_requisition_id INT,
    @remarks                 NVARCHAR(1000) = NULL,
    @items                   dbo.udt_purchase_requisition_item READONLY
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    BEGIN TRY
        UPDATE dbo.purchase_requisition
        SET    remarks     = @remarks,
               modified_at = GETDATE()
        WHERE  purchase_requisition_id = @purchase_requisition_id
          AND  is_deleted = 0;

        DECLARE @rows_affected INT = @@ROWCOUNT;

        IF @rows_affected = 0
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT 0 AS rows_affected;
            RETURN;
        END;

        UPDATE dbo.purchase_requisition_item
        SET    is_deleted  = 1,
               modified_at = GETDATE()
        WHERE  requisition_id = @purchase_requisition_id
          AND  is_deleted = 0;

        INSERT INTO dbo.purchase_requisition_item (requisition_id, product_id, quantity, created_at, is_deleted)
        SELECT @purchase_requisition_id, i.product_id, i.quantity, GETDATE(), 0
        FROM   @items i;

        COMMIT TRANSACTION;

        SELECT @rows_affected AS rows_affected;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END
