USE [dbRapidDevs]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_PurchaseRequisition_GetAll]
    @Search      NVARCHAR(200)  = NULL,
    @FromDate    DATETIME2      = NULL,
    @ToDate      DATETIME2      = NULL,
    @PageNumber  INT            = 1,
    @PageSize    INT            = 20,
    @TotalCount  INT            OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT @TotalCount = COUNT(*)
    FROM   dbo.purchase_requisition pr
    WHERE  pr.is_deleted = 0
      AND  (@Search IS NULL
            OR pr.requisition_no LIKE '%' + @Search + '%'
            OR pr.remarks        LIKE '%' + @Search + '%')
      AND  (@FromDate IS NULL OR pr.created_at >= @FromDate)
      AND  (@ToDate   IS NULL OR pr.created_at <= @ToDate);

    SELECT
        pr.purchase_requisition_id,
        pr.requisition_no,
        pr.remarks,
        COUNT(pri.purchase_requisition_item_id) AS item_count,
        pr.created_at
    FROM   dbo.purchase_requisition pr
    LEFT JOIN dbo.purchase_requisition_item pri
           ON pri.requisition_id = pr.purchase_requisition_id
          AND pri.is_deleted = 0
    WHERE  pr.is_deleted = 0
      AND  (@Search IS NULL
            OR pr.requisition_no LIKE '%' + @Search + '%'
            OR pr.remarks        LIKE '%' + @Search + '%')
      AND  (@FromDate IS NULL OR pr.created_at >= @FromDate)
      AND  (@ToDate   IS NULL OR pr.created_at <= @ToDate)
    GROUP BY
        pr.purchase_requisition_id,
        pr.requisition_no,
        pr.remarks,
        pr.created_at
    ORDER BY pr.created_at DESC
    OFFSET  (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
